[submodule "Plugins/render-core"]
	path = Plugins/render-core
	url = https://github.com/PolymorphEngine/render-core.git
[submodule "Plugins/raylib-render-core"]
	path = Plugins/raylib-render-core
	url = https://github.com/PolymorphEngine/raylib-render-core.git
[submodule "Plugins/raylib-render-2D"]
	path = Plugins/raylib-render-2D
	url = https://github.com/PolymorphEngine/raylib-render-2D.git
[submodule "Plugins/render-2D"]
	path = Plugins/render-2D
	url = https://github.com/PolymorphEngine/render-2D.git
